* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a img {
    border: none
}

button, a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none
}

button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#first {
    background-color: #00ffff;
    z-index: 1;
}

#second {
    background-color: #8a2be2;
    z-index: 1;
}

#third {
    background-color: #1e90ff;
    z-index: 1;
}

button {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 20px;
}

#btn1 {
    background-color: #006400;
    z-index: 2;
}

#btn2 {
    background-color: #8b0000;
    z-index: 2;
}

#btn3 {
    background-color: #ff00ff;
    z-index: 2;
}